/* lightcolor: #e2f4f4
darkcolor: #081f2e */

/* Hero style */
.heroMain .container {
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heroText {
  font-size: 2.5rem;
  font-weight: 700;
  color: #e2f4f4;
  margin-right: auto;
  margin-bottom: 100px;
}

.Pod {
  color: #081f2e;
  font-weight: 700;
  background-color: #e2f4f4;
  border: 2px solid #081f2e;
  border-radius: 10px;
  display: inline-block;
  padding: 0 10px;
}

.heroOpiniones {
  display: inline-block;
  border-radius: 16px;
  background-color: #e2f4f4;
  color: #081f2e;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 8px;
}

.btnHero {
  background-color: #ff7f0e;
  color: #081f2e;
  border: 2px solid #081f2e;
  font-size: 1.2rem;
  font-weight: 900;
}

.btnHero:hover {
  background-color: #081f2e;
  color: #e2f4f4;
  border-color: #081f2e;
}
/* Hero style */

/* Sobre nosotros style */

.sobreNosotrosMain {
  margin-top: 200px;
  margin-bottom: 150px;
}

.sobreNosotrosTitulo1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #081f2e;
}

.sobreNosotrosInfo {
  font-size: 1.2rem;
  color: #081f2e;
  margin-top: 20px;
  font-weight: 500;
}

.sobreNosotrosBtn {
  color: #081f2e;
  font-weight: 700;
  font-size: 1.5rem;
  border: 2px solid #081f2e;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  background-color: #ff7f0e;
  text-decoration: none;
}

.sobreNosotrosCards {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sobreNosotrosCardContainer {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #081f2e;
  padding: 1.6rem;
}

.sobreNosotrosCard1 {
  border-top: 2px solid #e2f4f4;
  padding-top: 20px;
  color: #e2f4f4;
  font-weight: 700;
  font-size: 18px;
}

.sobreNosotrosCard2 {
  color: #e2f4f4;
  padding-top: 20px;
  font-weight: 700;
  font-size: 4rem;
}

.sobreNosotrosStars {
  color: #ffd700;
  font-size: 2rem;
}

.sobreNosotrosCard2sub {
  color: #ffd700;
  font-size: 2rem;
}

.sobreNosotrosImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Sobre nosotros style */

/* Cards style */
/* lightcolor: #e2f4f4
darkcolor: #081f2e */

.cursosMain {
  background-color: #081f2e;
}

.cursosBody {
  padding-bottom: 100px;
}

.cursosTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #e2f4f4;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}

.primeraFilaCurso {
  margin-bottom: 100px;
  display: flex;
}

.segundaFilaCurso {
  margin-bottom: 100px;
  display: flex;
}

.cardBody {
  padding: 0px;
}

.cardText {
  padding: 10px;
  background-color: #e2f4f4;
}

.cardTitle {
  font-size: 2rem;
  font-weight: 900;
  color: #081f2e;
  text-align: center;
  padding: 20px;
}

.btnMainCurso {
  background-color: #ff7f0e;
  color: #081f2e;
  border: 2px solid #e2f4f4;
  font-size: 1.4rem;
  font-weight: 900;
}

.btnMainCurso:hover {
  background-color: #081f2e;
  color: #e2f4f4;
  border-color: #e2f4f4;
}

/* Cards style */

/* testimonio style */
/* lightcolor: #e2f4f4
darkcolor: #081f2e */

.testimoniosBody {
  padding-bottom: 100px;
  /* display: flex;
  justify-content: center; */
}

.testimoniosTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #081f2e;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}

.testimonioImg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 40px;
}

.testimonioText {
  font-size: 1.2rem;
  color: #081f2e;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}
/* testimonio style */
