.cardContainer {
  background-color: #e2f4f4;
}

.card {
  border: none;
}

.btnIniciarSesion {
  background-color: #ff7f0e;
  color: white;
}

.btnIniciarSesion:hover {
  background-color: #ff9e4a;
}

.btnGoogle {
  background-color: #db4437;
  color: white;
}

.btnGoogle:hover {
  background-color: #ed6858;
}

.linksContraseña {
  font-weight: 700;
}
