.navbar {
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.navItems {
  display: inline-block;
  pointer-events: none;
}

.navItems button {
  display: inline-block;
  margin-left: 1rem;
  pointer-events: auto;
}

.btnCart {
  background-color: #e2f4f4;
  color: #081f2e;
  border: 2px solid #ff7f0e;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.imgLogo {
  width: 100px;
  height: 100px;
}

.logoContainer {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #e2f4f4;
  color: #081f2e;
  border: 2px solid #081f2e;
}

.btnCursos,
.btnLogin,
.btnLogout {
  background-color: #e2f4f4;
  color: #081f2e;
  border: 2px solid #ff7f0e;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 900;
}

.btnCart:hover,
.btnCursos:hover,
.btnLogin:hover,
.btnLogout:hover {
  background-color: #081f2e;
  color: #e2f4f4;
}
