.signupContainer {
  background-color: transparent;
}
.card {
  border: none;
}

.btnRegistrar {
  background-color: #ff7f0e;
  color: white;
  width: 60%;
}

.btnRegistrar:hover {
  background-color: #ff9e4a;
}
